body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    margin-bottom: 70px;
    text-align: center;
    text-decoration: underline;
}
h2 {
    padding: 5px;
    text-decoration: underline;
}
dd {
    padding: 5px;
}
a {
    margin-right: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    text-align: center;
    background-color: #E6E6FA;
    padding: 20px;
    margin-top: 27px;
    width: 50%;
}


